.card {
    margin-bottom: 20px;
    border-radius: 0px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px #ddd;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.thumbnail {
    max-width: 100%;
    height: auto;
}
