.remaining-votes {
    position: fixed;
    bottom: 5%;
    right: 17%;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
}
.vote-btn {
    margin: 0px;
    background-color: bisque;
    padding: 0%;
    width: 50%;
}
.vote-btn-container {
    padding: 0%;
}

p {
    word-break: keep-all;
}
